<footer>
    <div class="f-socials">
        <i class="fa-brands fa-square-facebook"></i>
        <i class="fa-brands fa-square-instagram"></i>
        <i class="fa-brands fa-linkedin"></i>
    </div>
    <div class="f-brand">
        &copy; WanderLust Travels Private Limited
    </div>
    <div class="f-links">
        <a href="/terms">Terms & Conditions</a>
        <a href="/privacy">Privacy</a>
    </div>
</footer>


