<% layout("layouts/boilerplate.ejs") %>

<% block("head").append("<title>Error</title>") %>


<div class="row mt-3 mb-3">
    <div class="col-md-6 offset-2 alert alert-danger" role="alert">
        <%= message %>
    </div>
</div>
