<% layout("layouts/boilerplate") %>

<% 
block("head")
.append('<title>All Listings -WanderLust</title>')
%>

<body>
    <!-- <h2>Check out all listing here</h2> -->
    <!-- <form method="GET" action="/listings/new">
        <button>Create a New Listing</button>
    </form> -->
    <br><br>
    <div class="row row-cols-md-3 row-cols-1 mb-4">        
        <% for(let listing of allListings){ %>
            <div class="col mb-2">
                <div class="card ">
                    <img src="<%=listing.image%>" class="card-img-top" alt="listing_img" style="height: 18rem;">
                    <div class="card-body">
                    <h5 class="card-title"><%=listing.title%></h5>
                    <p class="card-text">$<%=listing.price.toLocaleString("en-IN")%>...</p>
                    <a href="/listings/<%=listing._id%>" class="btn btn-primary w-100">View Listing</a>
                    </div>
                </div>
            </div>
        <% } %>
    </div>

</body>

