<% layout("layouts/boilerplate.ejs")%>
<% block("head").append(`<title>Create Listing -WanderLust</title>`)%>

<body>

    <br><br>
    
    <div class="row">
           
            <form method="POST" action="/listings" class="needs-validation" novalidate enctype="multipart/form-data">
            <div class="col-md-8 offset-md-2 mb-5">
                <h2>Create a new listing</h2>
                <div class="mb-3">
                    <label for="title" class= "form-label"  >Listing Name</label>
                    <input required  name="title" type="text" class= "form-control" id="title">
                    <div class="valid-feedback">  Looks Valid </div>
                    <div class="invalid-feedback">  Maybe Invalid?  </div></div>
                <div class="mb-3">
                    <label for="description" class= "form-label"  >Details of the listing</label>
                    <textarea name="description" class= "form-control" id="description"></textarea>
                    <div class="valid-feedback">  Looks Valid </div>
                    <div class="invalid-feedback">  Maybe Invalid?  </div></div>
                <!-- <div class="mb-3">
                    <label for="image" class= "form-label"  >Image Link</label>
                    <input name="image" type="text" class= "form-control" id="image">  
                    <div class="valid-feedback">  Looks Valid </div>
                    <div class="invalid-feedback">  Maybe Invalid?  </div></div> -->

                <div class="mb-3">
                    <label for="image" class= "form-label"  >Upload Image File</label>
                    <input name="image" type="file" class= "form-control" id="image">  
                    <div class="valid-feedback">  Looks Valid </div>
                    <div class="invalid-feedback">  Maybe Invalid?  </div>
                </div>
                <div class="mb-3">
                    <label for="price" class= "form-label"  >Price</label>
                    <input  required name="price" class= "form-control" type="number" id="price">  
                    <div class="valid-feedback">  Looks Valid </div>
                    <div class="invalid-feedback">  Maybe Invalid?  </div></div>

                <div class="row">
                    <div class="col-md-8 mb-3">
                        <label for="location" class= "form-label"  >Location</label>
                        <input name="location" class= "form-control" type="text" id="location"> 
                        <div class="valid-feedback">  Looks Valid </div>
                        <div class="invalid-feedback">  Maybe Invalid?  </div></div>
                    <div class="col-md-4 mb-3">
                        <label for="country" class= "form-label"  >Country</label>
                        <input name="country" class= "form-control" type="text" id="country">    
                        <div class="valid-feedback">  Looks Valid </div>
                        <div class="invalid-feedback">  Maybe Invalid?  </div>
                    </div>
                </div>
               
                <br>
                <div class="mb-3">
                    <button class="form-control btn btn-dark w-100 ">Submit the new listing</button>
                </div>
                <br><br><br><br><br>
            </div>
            </form>
    </div>
       
</body>

