<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Listing</title>
</head>
<body>
    <h2>WanderLust</h2>
    <h4>Create a new listing</h4>
    <form method="POST" action="/listings">
        <input name="title" type="text" placeholder="title">    <br><br>
        <textarea name="description">

        </textarea> <br><br>
        <input name="image" type="text" placeholder="image">    <br><br>
        <input name="price" type="text" placeholder="price">    <br><br>
        <input name="location" type="text" placeholder="location">  <br><br>
        <input name="country" type="text" placeholder="country">    <br><br>
        <button>Submit the new listing</button>
    </form>
</body>
</html>

