<% layout("layouts/boilerplate.ejs") %>
<% block("head").append(`<title>SignUP @WL </title>`) %>

<body>
    <div class="row mt-3">
           
        <form method="POST" action="/signup" class="needs-validation" novalidate>
            <div class="col-md-8 offset-md-2 mb-5">
                <h2>Sign UP @wanderLust</h2>
                <div class="mb-3">
                    <label for="username" class= "form-label" >Pick an User Name</label>
                    <input required  name="username" type="text" class= "form-control" id="username">
                    <div class="valid-feedback">  Looks Valid </div>
                    <div class="invalid-feedback">  Maybe Invalid?  </div>
                </div>
                <div class="mb-3">
                    <label for="email" class= "form-label" >Enter your Email </label>
                    <input required  name="email" type="text" class= "form-control" id="email">
                    <div class="valid-feedback">  Looks Valid </div>
                    <div class="invalid-feedback">  Maybe Invalid?  </div>
                </div>
                <div class="mb-3">
                    <label for="password" class= "form-label" > Use a secure password </label>
                    <input required  name="password" type="password" class= "form-control" id="password">
                    <div class="valid-feedback">  Looks Valid </div>
                    <div class="invalid-feedback">  Maybe Invalid?  </div>
                </div>
                <div class="mb-5 mt-4">
                    <button class="btn btn-outline-success w-100">Sign Up</button>
                </div>
            </div>
        </form>
    </div>
</body>